.row {
	//background-color: yellow;

	&--t-padding {
		padding-top: 80px;
	}

	&__b-margin-until-md {
		margin-bottom: 1.2rem;
	}

	@mixin atMedium {
		display: grid;
		grid-template-columns: repeat(12, 1fr);

		&--gutters {
			column-gap: 5.3%;
		}
	
		&--gutters-small {
			column-gap: 3.6%;
		}
	
		&--gutters-large {
			column-gap: 8%;
		}

		&__md-4 {
			grid-column: span 4;
			//border: red 1px solid;
		}

		&__md-6 {
			grid-column: span 6;
		}
	
		&__md-8 {
			grid-column: span 8;
		}

		&__b-margin-until-md {
			margin-bottom: 0;
		}
	}

	&--equal-height-at-md {
		@mixin atMedium {
			& > div {
				display: flex;
			}
		}
	}
}

.row2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	
	@mixin atMedium {
		&__md-4 {
			width: 100%;
		}
	}
}