.row {
	//background-color: yellow;
	@mixin clearfix;

	&--gutters {
		margin-right: -65px;
	}
	
	&--gutters > div {
		padding-right: 65px;
	}

	&--gutters-small {
		margin-right: -45px;
	}
	
	&--gutters-small > div {
		padding-right: 45px;
	}

	&--gutters-large {
		margin-right: -100px;
	}
	
	&--gutters-large > div {
		padding-right: 100px;
	}

	&--t-padding {
		padding-top: 80px;
	}

	&__b-margin-until-md {
		margin-bottom: 1.2rem;
	}

	@mixin atMedium {
		&__md-4 {
			float: left;
			width: 33.33%;
			//border: red 1px solid;
		}
	
		&__md-8 {
			float: left;
			width: 66.66%;
			border: blue 1px solid;
		}

		&__b-margin-until-md {
			margin-bottom: 0;
		}

		&__md-6 {
			float: left;
			width: 50%;
		}
	}

	&--equal-height-at-md {
		@mixin atMedium {
			display: flex;
		}

		& > div {
			float: none;
			display: flex;
		}
	}
}